src/IdentityProvider/bin/
src/IdentityProvider/obj/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

src/IdentityProvider.Test/bin/
src/IdentityProvider.Test/obj/

src/IdentityProvider.DataAccess/bin/
src/IdentityProvider.DataAccess/obj/

src/IdentityProvider.BusinessDomain/bin/
src/IdentityProvider.BusinessDomain/obj/

src/.idea/*
src/IdentityProvider/.idea/*